.about-container {
    display: grid;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #17697b;
    height: 100%;
    width: auto;
}

.about-header-wrapper {
    display: block;
    margin-top: 60px;
    padding: 25px;
    font-size: 3.9rem;
    text-align: center;
    background-color: #ffa62b;
}

.team-container-wrapper {
    display: flex;
    margin-top: 50px;
}

.feature h3 {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
            
.feature {
    width: 18%;
    padding: 0 1%;
    background-color: #81c0cb;
    padding: 15px;
    border: 1px solid black;
    border-radius: .8%;
    transition: opacity 0.25s ease-in-out;
    margin: 10px;
    opacity: 0.8;
}

.feature:hover {
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
}

.team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-social {
    margin-block-start: unset;
    list-style: none;
    margin-block-end: unset;
    padding-inline-start: unset;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.icons:hover {
    background-color: #ffa62b;
}

.icons {
    font-size: 28px;
    padding: 2px;
}

@media (max-width: 1024px) {
    .about-header-wrapper {
        display: block;
        text-align: center;
        align-content: center;
        justify-content: center;
        background-color: #ffa62b;
        margin-top: 99px;
    }
    
    .about-header-wrapper h2 {
        font-size: 3rem;
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .team-container-wrapper {
        display: flex;
        margin-top: 62px;
        flex-direction: column;
    }
                
    .feature {
        width: 75%;
        padding: 5%;
        margin: 37px auto;
    }
    
    .team-img {
        width: 59%;
        height: 59%;
        border-radius: 50%;
        margin-left: 19.5%;
    }

    .feature h3 {
        margin-block-end: unset;
        margin-inline-end: unset;
        background-color: #81c0cb;
        padding: 25px;
        font-size: 3.5rem;
        font-style: italic;
        text-align: center;
    }
    
    .feature p {
        font-size: 2.8rem;
        margin-block-start: unset;
        margin-block-end: unset;
        padding: 25px;
        text-align: center;
        background-color: #81c0cb;
    }

    .team-social {
        margin-block-start: unset;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: #81c0cb;
    }
    
    .icons {
        font-size: 5rem;
    }

    .icons:hover {
        background-color: #ffa62b;
    }

    .about-menu {
        width: 100%;
        background-color: #ffa62b;
        position: fixed;
        z-index: 1000;
        left: 0;
        bottom: 0;
        height: 40px;
    }

    .menu-item {
        display: inline-flex;
        justify-content: center;
        width: 33.3%;
        padding-top: 4px;
    }

    #about-button {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .about-header-wrapper {
        display: block;
        text-align: center;
        align-content: center;
        justify-content: center;
        background-color: #ffa62b;
        margin-top: 50px;
    }
    
    .about-header-wrapper h2 {
        font-size: 2rem;
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .team-container-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 33px;
    }
                
    .feature {
        width: 75%;
        padding: 5%;
        margin: 17px auto;
    }
    
    .team-img {
        width: 59%;
        height: 59%;
        border-radius: 50%;
        margin-left: 19.5%;
    }

    .feature h3 {
        margin-block-end: unset;
        margin-inline-end: unset;
        background-color: #81c0cb;
        padding: 10px;
        font-size: 2rem;
        font-style: italic;
        text-align: center;
        margin: 0;
    }
    
    .feature p {
        font-size: 1.25rem;
        margin-block-start: unset;
        margin-block-end: unset;
        padding: 1px;
        text-align: center;
        background-color: #81c0cb;
    }

    .team-social {
        margin-block-start: unset;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: #81c0cb;
        margin-top: 10px;
    }
    
    .icons {
        font-size: 2rem;
    }

    .icons:hover {
        background-color: #ffa62b;
    }

    .about-menu {
        width: 100%;
        background-color: #ffa62b;
        position: fixed;
        z-index: 1000;
        left: 0;
        bottom: 0;
        height: 40px;
    }

    .menu-item {
        display: inline-flex;
        text-align: center;
        width: 33.3%;
        padding-top: 4px;
    }

    #about-button {
        font-size: 1.8rem;
    }
}