.about-container {
    display: grid;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #17697b;
    height: 100%;
    
}

.about-header-wrapper {
    display: block;
    margin: auto 0;
    padding: 25px;
    font-size: 3.9rem;
    text-align: center;
    background-color: #ffa62b;
}

.team-container-wrapper {
    display: flex;
    margin-top: 50px;
}

h3 {
    font-size: 2rem;
    font-style: italic;
}
            
.feature {
    width: 18%;
    padding: 0 1%;
}

.team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-social {
    list-style: none;
    padding-inline-start: unset;
    display: flex;
    justify-content: space-around;
}

a:hover {
    background-color: #ffa62b;
}

a {
    font-size: 28px;
}

@media (max-width: 1100px) {
    .about-container {
        display: grid;
        font-family: "Roboto Condensed", sans-serif;
        background-color: #17697b;
        height: 100%;
        
    }
    
    .about-header-wrapper {
        display: block;
        font-size: 3.9rem;
        text-align: center;
        align-content: center;
        justify-content: center;
        background-color: #ffa62b;
        margin-top: 60px;
    }
    
    .team-container-wrapper {
        display: flex;
        margin-top: 62px;
        flex-direction: column;

    }
    
    h3 {
        margin-block-end: unset;
        margin-inline-end: unset;
        margin-inline-end: unset;
        background-color: #81c0cb;
        padding: 50px;
        font-size: 3.5rem;
        font-style: italic;
        text-align: center;
    }
                
    .feature {
        width: 83%;
        padding: 10%;
    }
    
    .team-img {
        width: 59%;
        height: 533px;
        border-radius: 50%;
        margin-left: 19.5%;
    }
    
    .team-social {
        margin-block-start: unset;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 50px;
        background-color: #81c0cb;
    }
    
    a:hover {
        background-color: #ffa62b;
    }
    
    a {
        font-size: 5rem;
    }

    p {
        font-size: 2.8rem;
        margin-block-start: unset;
        margin-block-end: unset;
        padding: 50px;
        background-color: #81c0cb;
    }
    
}
