.map-wrapper {
	/* width: 500px;
  height: 400px; */
	width: 100%;
	height: 60%;
}

.geocoder {
	position: absolute;
	z-index: 1;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	top: 20px;
}

.mapboxgl-ctrl-geocoder {
	min-width: 100%;
}
