//  ==============================
            BACKGROUND
    ============================== //

.trips-page-desktop
    display: flex
    flex-direction: row
    background-color: $dark-grey
    width: 100vw
    height: 100vh
    overflow: none

    .hero-image
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex-grow: 1
        height: 100vh
        min-width: 30vw
        background: url("https://is.gd/5I0FGn") center center no-repeat
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover

        h1 
            text-align: center
            font-size: 10vmin
            width: 90%
            margin-left: 5%
            margin-right: 5%
            margin-bottom: 15rem
            font-weight: bold
            font-family: $header-font
            font-weight: bold
            color: $aqua-light

    .trips-page-info
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        flex-grow: 1
        width: 70vw
        height: 100vh
        color: white
        background-color: $dark-grey
        font-family: $body-font
        text-align: left

        h3
            display: flex
            align-items: center
            flex-grow: 1
            height: 2rem
            font-size: 4vmin
            width: 70vw
            font-weight: bold
            font-family: $header-font
            text-align: left
            padding-left: 5rem
            color: $yellow

        .my-trip-page
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            margin: 0 auto

//  ==============================
        NAVIGATION COMPONENT
    ============================== //

.nav-button-area
    display: flex
    align-items: center
    flex-grow: 1
    width: 70vw
    padding-left: 5rem

    #billing
        color: $dark-grey
        background-color: $light-grey
        width: 10rem

        .logout:hover
            color: $white


        a
            text-decoration: none
            color: $aqua-light

        a:hover
            color: $yellow
 


.react-table
    display: flex
    flex-grow: 2
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%

    .ReactTable
        width: 92.5%
        // flex-grow: 2
        text-align: center
        background-color: $dark-grey
        color: $white
        // font-family: $body-font

        .rt-thead -header
            font-family: sans-serif
            font-size: 2.5vmax

        .rt-resizable-header-content
            font-size: 2.5vmax

        .rt-tbody
            font-size: 1.75vmax
            // font-size: 2vmax

        .rt-resizable-header-content
            color: $aqua-light
            font-family: $header-font

        .rt-tr
            border-bottom: 0.5px solid grey


    .rt-td
        text-transform: capitalize
        line-height: 3rem


    button
        width: 15rem
        height: 3rem
        font-size: 1.5vmax
        margin-top: 4rem
        background-color: $aqua-light
        color: $dark-grey
        text-decoration: none
        font-size: 2vmax
    
    .ReactTable .button:hover
        background-color: $white
        color: $dark-grey

.rt-noData
    font-family: $body-font
    text-transform: capitalize