.page-container
    display: flex
    flex-direction: row
    background: $aqua-medium
    height: 100vh
    width: 100vw
    font-family: $body-font
    color: $dark-grey

.trip-content-area
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 55vh
    height: 100vh
    flex-grow: 1

    .trip-destination
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background: none
        background-color: none
        font-size: 3rem
        width: 100%
        line-height: 5rem
        text-align: center

        p
            background: none
            background-color: none
            font-size: 3rem
            color: $white


//  ==============================
            TITLE COMPONENT
    ============================== //
    
.trip-list-top
    display: flex
    align-items: center
    justify-content: center
    min-height: 7rem
    max-height: 14rem
    line-height: 7.5rem
    text-align: center
    width: 100%
    background-color: $white

    h1
        color: $dark-grey
        font-family: $header-font
        text-transform: capitalize
        font-size: 4rem
        width: 100%

//  ==============================
    CHECKLIST CONTAINER COMPONENT
    ============================== //

.lists-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: none
    color: $dark-grey
    max-height: 60%
    width: 100%
    flex-grow: 1

    .lists-section
        display: flex
        flex-direction: row
        width: 100%
        justify-content: center
        flex-grow: 1

        .list-wrapper
            overflow: scroll
            width: 90%
            margin-left: 5%
            margin-right: 5%
            height: 250px

            h4
                font-size: 2.5rem
                font-family: $body-font


//  ==============================
       CHECKLIST FORM COMPONENT
    ============================== //

form
    border: none
    padding: none

//  ==============================
        MY SAVED PLACES
    ============================== //

.favorites-container
    overflow: scroll
    height: 25%
    width: 90%
    flex-grow: 1
    max-height: 45%
    height: 20%

    .saved-places
        font-size: 2.5rem
        text-align: center
        border-bottom: 1px solid $dark-grey
        z-index: 15
        position: -webkit-sticky
        position: sticky
        flex-grow: 1

    #favorites-list
        font: $header-font
        font-size: 1.5rem
        color: $white
        flex-grow: 1

        .fave-header
            margin-top: 1rem
        
        .address-wrapper a
            color: $dark-grey
            text-decoration: none
            font-style: italic

        .address-wrapper a:visited
            color: $dark-grey
            text-decoration: none


//  ==============================
            MAP COMPONENT
    ============================== //

.map-container
    // border: 10px solid red
    width: 45vh
    height: 100vh
    flex-grow: 1
