// COLORS 
	- default body text				#4e4e4e		( dark grey )
	- title text					#17697b		( dark aqua blue )
	- form input borders			#4e4e4e		( dark grey )
	- form input borders:active		#17697b		( dark aqua blue )
	- default p text				#f0f0f0
	- pre borders					#ffff99
//

$aqua-dark: #17697b
$aqua-medium: #489fb6
$aqua-light: #81c0cb
$white: #ece7e2
$yellow: #ffa62b
$dark-grey: #4e4e4e
$light-grey: #8E8E8E