$primary-color: #4e4e4e 
// $secondary-color:#0078b3
$secondary-color: #17697b
// $accent-color: #f7b94c 
$accent-color: #ffa62b
$color-white: #ece7e2
$color-black: #000

$color-grey-light-1: #f7f7f7
$color-grey-light-2: #d4d4d4

$color-grey-dark-1: #777
$color-grey-dark-2: #545862

$dark-grey: #4e4e4e