// FONTS
	- default body text     Roboto Condensed, sans-serif
	- h1, h2 title text     Overpass, sans-serif
	- form input text       Roboto Condensed, sans-serif
	- default p text     Copperplate Light, Copperplate Gothic Light, serif
	- special p text        sans-serif, bold
//


$body-font: "Roboto Condensed", sans-serif
$header-font: "Overpass", sans-serif
$header-font-two: "Kanti", sans-serif
$default-font-size: 1.6rem
$large-font-size: 3rem
$medium-font-size: 2.5rem