.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #64b5eb;
    padding: 30px;
    height: 100vh;

}

h1 {
    background: #fff;
    border-radius: 4px;
    padding: 5px 30px;
}

.trip-list {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

.trip {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .trip:hover {
      background:rgba(255, 255, 255, 0.315);
      
  }

  .input {
      width: 100%;
      box-sizing: border-box;
      border: 0;
      border-radius: 4px;
      box-shadow:  none;
      padding: 1rem;
      height: 2.25em;

  }