.modal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  padding: 20px;
  top: 40px;
  width: 60%;
  max-width: 750px;
  right: 20%;
  left: 20%;
  background-color: white;
  border: 1px solid grey;

}

.content {
  width: 100%;
}

@media (max-width: 600px) {
  .modal-container {
    top: 50px;
    height: 85%;
    width: 75%;
    right: 17%;
    left: 8%;
  }
}

.datePicker {
  display: flex;
  flex-direction: row;
}