.button-area 
     display: flex
     flex-direction: row
     margin: 5% 5% 5% 5%
   
button 
     display: flex
     flex-direction: column
     justify-content: center
     align-items: center
     margin-right: 2.5%
     height: 2.5rem
     width: 7.5rem
     border-radius: 5%
     -moz-border-radius: 5%
     -webkit-border-radius: 5%
     border: none
     color: white
     transition: all 0.5s
   
button:hover 
     cursor: pointer
     transition: all 0.5s
   
button:focus 
     outline: none

.btnLogin 
     background: #0078b3

.btnLogin:hover 
     color: white
     background: #5bba6c
     font: bold

.btnLearn 
     color: black

.btnLearn:hover 
     color: white
     background: #ff5a5f

.Link:visited 
     color: green
