.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #64b5eb;
    height: 100vh;

}

.header-wrapper {
    background: #64b5eb;
}

.trips-header-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background: #64b5eb;
    flex-direction: column;
    width: 100%;
}

.trips-header-wrapper div{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.trips-header-wrapper div h1 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.trips-header-wrapper div p {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.trips-title {
    padding-top: 30px;
}

.header-wrapper { 
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    
}

.navbar { 
    display: flex;
    width: 100%;
}

.navbar-start {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;


}

#header-buttons, #modal-button {
    text-decoration: none;
    color: black;
    margin: 5px 5px;
    border:1px solid rgba(133, 133, 133, 0.295); 
}

#header-buttons:hover, #modal-button:hover {
    text-decoration: none;
    background: palevioletred;
    color: white;
    border:1px solid white;
}

#modal-button {
    margin-top: 25px;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

button:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.navbar-end {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}


.title {
    background: #fff;
    border-radius: 4px;
    padding: 5px 30px;
}

.billing {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 50px;
    /*width: 1000px;*/
    width: 85%;
}

.billing div {
    padding: 10px;
    margin: 15px;
}

.billing-option {
    background: #fff;
    word-wrap: break-word;
    width: 50%;
    border-radius: 3px;
    border: 2px solid white;

}

.billing-option:hover {
    /*border: 2px solid palevioletred;*/
}

.space {
    margin-top: 52px;
    background: #fff;
    border-radius: 4px;
    padding: 5px 30px;
}

.trip-list-top {
    display: flex;
    flex-direction: row;
}

/* .input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow:  none;
    padding: 1rem;
    height: 2.25em;
} */


.trips-title {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.react-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    background: #64b5eb;
    padding: 70px;

}

.table {
    background: white;
    width: 80%;
    border-radius: 3px;
}

.sort-dropdown {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ---- MODAL ---- */

.overlay {
    background-color: rgba(207, 207, 207, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 70%;*/
    /*height: 60%;*/
    z-index: 10;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.5%;
}

#modal:focus {
    outline: none;
}

/* --------------  */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
  
